h3{
    color: #0000ff;background-color: brown;
     text-decoration:overline ;
 }
 h1{
    color: #ff8800;
    background-color: rgb(204, 161, 161);
 }
 #parrafo0{
    color:darkslategray;
    background-color: rgb(180, 129, 229);
 }
 #parrafo1{
    color:darkslategray;
    background-color: rgb(180, 129, 229);
 }
 #parrafo2{
    color:rgb(202, 156, 202);
     background-color: #000000;
}
.ejemplo{
    background-color: aqua;
    width: 500px;
    height: 300px;
    border: 10px solid yellow;
    border-style: groove double dashed dotted; /*solid,dotted,dashed,double */ 
    margin-left: 400px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    text-align:center;/*center,justify,left,right */
    outline:10px goldenrod;
    outline-style: dashed;
}
.titulos{
   color: #ff8800;
}